<html>
    <body>



        <Form>
            <p>
                Enter Your Licensce: <input type="file" id="myFile" name="filename">
            </p>
            <br>

            <p>
                Enter name of College: <input type="text" id="myFile" name="filename">
            </p>
            <br>

            <p>
                Enter Your College Logo: <input type="file" id="myFile" name="filename">
            </p>
            <br>

            <p>
                Enter Your Facilities: <input type="textarea" id="myFile" name="filename"> <br> 
            </p>
            <p>
                Enter Images For Better Engagement: <input type="file" id="myFile" name="filename"> <br> <input type="file" id="myFile" name="filename">
            </p>

            <p>
                Enter Your Campus Details: <input type="textarea" id="myFile" name="filename"> <br> 
            </p>
            <p>
                Enter Images For Better Engagement: <input type="file" id="myFile" name="filename"> <br> <input type="file" id="myFile" name="filename">
            </p>

            <p>
                Enter Your Alumini Details: <input type="textarea" id="myFile" name="filename"> <br> 
            </p>
            <p>
                Enter Images For Better Engagement: <input type="file" id="myFile" name="filename"> <br> <input type="file" id="myFile" name="filename">
            </p>

            <p>
                Enter Your Address: <input type="textarea" id="myFile" name="filename"> <br> 
            </p>
        
            <p>
                Enter Your Phone: <input type="text" id="myFile" name="filename"> <br> 
            </p>
            <p>
                Enter Your Email Address: <input type="email" id="myFile" name="filename"> <br> 
            </p>
        <button>Submit</button>

    </Form>
    </body>
</html>



















<input type="file" id="myFile" name="filename">