<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
  
    <style>
        .box h2{
        color: #d1c0c0;
        text-transform: uppercase;
        font-weight: 500;
    }
    .box{
        margin-top: 40px;
        width: 700px;
        padding: 40px;
        top: 100%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        background-image: url('https://img.freepik.com/free-vector/white-elegant-texture-wallpaper_23-2148417584.jpg?size=626&ext=jpg');
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #080d12;
    }
    
    .box input[type = "name"],.box input[type = "number"],.box input[type= "email"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
    }
    
    .box button{
        border: 0;
        background: none;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 8px 20px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: .75s;
        cursor: pointer;
    }
    
    .box button:hover{
        background: #2ecc71;
    
    }

    </style>
</head>
<body>
    

	
    <form class="box" action="/programRegistration" method="POST">
    <div>
        <label for="Program Name">Program Name</label>
        <input
        type="name"
        name="pr_name"
        placeholder="Programm name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
        />
    
    </div>
    <div>
        <label for="Time Period">Time Period(in Months)</label>
        <input
        type="number"
        name="time_period"
        placeholder="Enter Time Period in Months"
        value="<%= typeof email != 'undefined' ? email : '' %>"
        />
    </div>
    <div >
        <label for="Fees">Fees</label>
        <input
        type="Number"
        name="fees"
        placeholder="Course Fees"
        value="<%= typeof password != 'undefined' ? password : '' %>"
        />
    </div>
    <br>
    <br>
    <button type="submit">submit</button>
    </form>
</body>
</html>