<html>
    <head>
        <style>
            .box h2{
            color: #d1c0c0;
            text-transform: uppercase;
            font-weight: 500;
        }
        .box{
            margin-top: 40px;
            width: 700px;
            padding: 40px;
            top: 100%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            background-image: url('https://img.freepik.com/free-vector/white-elegant-texture-wallpaper_23-2148417584.jpg?size=626&ext=jpg');
            text-align: center;
            border-radius: 10px;
            box-shadow: 5px 10px 18px #080d12;
        }
        
        .box input[type = "text"],.box input[type = "textarea"],.box input[type= "email"]{
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 200px;
            outline: none;
            color: black;
            border-radius: 24px;
            transition: 0.25s;
        }
        
        .box button{
            border: 0;
            background: none;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 8px 20px;
            outline: none;
            color: black;
            border-radius: 24px;
            transition: .75s;
            cursor: pointer;
        }
        
        .box button:hover{
            background: #2ecc71;
        
        }

        </style>
    </head>

    <body>



        <Form class="box" method="POST" action="">
            
                

        
                Enter Your Name: <input type="text" id="myFile" name="student_name">
            
            <br><br>
            
            Enter Your Photo: <input type="file" accept="image/*" id="myFile" name="student_photo">
            
            <br><br>

        
                Enter Your Signature: <input type="file" accept="image/*" id="myFile" name="signature">
            
            <br><br>

            
                Enter Your Address: <input type="textarea" id="myFile" name="Address"> <br> 
                <br><br>
            
                Enter Address proof: <input type="file" accept="image/*" id="myFile" name="Address_proof"> <br>
                <br><br>

            
                Enter Your Highist Qualification: <input type="textarea" id="myFile" name="quali_text"> <br> 
                <br><br>
            
                Enter Your Marksheet: <input type="file" accept="image/*" id="myFile" name="campus_img"> <br>
                <br><br>

            
                Enter Your Marks: <input type="textarea" id="myFile" name="alumini"> <br> 
                <br><br>
            
                Enter Your Birth Proof: <input type="file" accept="image/*" id="myFile" name="alumini-img"> <br> 
                <br><br>

            
                Enter Your Birthdate: <input type="textarea" id="myFile" name="address"> <br> 
                <br><br>
        
                Enter Your Phone: <input type="text" id="myFile" name="phone"> <br> 
                <br><br>
        
                Enter Your Email Address: <input type="email" id="myFile" name="email"> <br> 
                <br><br>
        <button>Submit</button>

    </Form>
    </body>
</html>




















